# Python
*.pyc
*.pyo
__pycache__/
venv/
instance/
.db/
*.sqlite3

# Flask
*.log

# React
node_modules/
build/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Docker
*.log

# IDE/Editor specific
.idea/

# Environment files
.env
